<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <section>
      Hello World!!!
      <form action = "/continue" method = "POST">
      <article>   
          {{jsonObj}}
          Person Cards
          {{ jsonObj.one }} and {{ jsonObj.two }} 
          <br>
          Computer Cards
          {{ jsonObj.three }} and {{ jsonObj.four }} 
          
          <input type="submit" value="Continue">
          <input class="button" type="button" onclick="window.location.replace('/blackJack')" value="Play Again" />

      </article>    
    </form>
      
  </section>
    
</body>
</html>