<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='blackJack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blackJack.css')}}" />
    <title>BlackJack</title>
    <script>var cards = JSON.parse('{{ data|safe }}');</script>
</head> 

<body class="mainClass" onload="myFunction()"> 
  <section class="mainSection">
      <form name="form1" action = "/hit" method = "POST" enctype='application/json'>  
      <article class="article1">  
      <input id="playerCoin" name="playerCoin" type="hidden" />
       <h1>BlackJack</h1> 
          <div id="mainDiv" display=inline-block></div>
          <br>
          {% if data %}
          <div id="buttonDiv">
            <input type="submit" value="Hit?" onclick="hitAgainFunction()"/>
            <input type="submit" value="Surrender" onclick="surrenderFunction()"/>
            <input class="button" type="button" onclick="window.location.replace('/blackJack')" value="Play Again" />
          </div>
          {% else %}
            <input class="button" type="button" onclick="window.location.replace('/blackJack')" value="Start the Game" />
          {% endif %}
      </article>    
    </form>     
  </section>
</body>
</html>