body{
    width:800px;
    margin:0 auto;
}

#wordTable{
    border:2px black solid;
    padding:3px;
}
.trClass{
    border:1px darkblue solid; 
}

.tdClass{
    width:25px;
    height:25px;
    text-align: center;
    border:1px darkblue solid;
    padding: 2px;
}